@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "Clarendon";
  src: url("/fonts/clarendon-bold/clarendon-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
